.recipe-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    width: 100%;
    height: 10vh;
}
.recipe-footer.focus {
    position: absolute;
    bottom: 0;
}
.recipe-footer a {
    font-size: 1.43vw;
    text-decoration: none;
    color: #31525B;
    transition: .2s;
}
.recipe-footer a:hover {
    color: #FFA101;
}
.recipe-footer a.focus {
    color: #FFA101;
}