.recipe-tile {
    position: absolute;
    bottom: 0;
    left: 15.05%;
    width: 84.95vw;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    border: 2px solid red;
}
.recipe-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.recipe-tile-titles {
    position: absolute;
    top: 0;
    width: 100%;
    height: 10%;
}
.recipe-tile-titles h2 {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
    font-size: 190%;
    color: #31525B;
    text-transform: uppercase;
}
.recipe-tile-titles:before {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    content:'';
    width: 50%;
    height: 0.1375vw;
    background-color: #FFA101;
}
.recipe-tile-titles.top_recipe:before  {
    width: 80%;
}
.recipe-main {
    position: absolute;
    top: 10%;
    width: 100%;
}
.recipe-main.focus {
    height: 90%;
}
.recipe-contents {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2%;
}