@media screen and (max-width: 1167px) {
    /* Header */
    header {
        height: 10%;
        grid-template-columns: 3.4fr 3.8fr 1.6fr 0.6fr;
    }
    .logos {
        grid-template-columns: 2fr 0px 8fr;
    }
    .menu-icon {
        background: none;
        outline: none;
        border: none;
        visibility: visible;
        z-index: 3;
    }
    .menu-icon.menu-closed {
        position: absolute;
        visibility: hidden;
        z-index: -3;
    }
    .menu-icon.menu-closed i {
        font-size: 4vw;
    }
    .logo {
        visibility: hidden;
        z-index: -3;
    }
    .header-title h1 {
        width: 90%;
    }
    /* Container */
    .container {
        display: block;
        grid-template-columns: none;
        top: 10%;
        height: 90%;
    }
    nav {
        visibility: hidden;
        z-index: -10;
    }
    .down-logo {
        visibility: hidden;
    }
    /* Recipe Tile */
    .recipe-tile, .upload-recipe-tile {
        width: 100vw;
        left: 0;
    }
    .recipe-tile.hide, .upload-recipe-tile.hide {
        visibility: hidden;
        z-index: -10;
    }
    .recipe-tile-titles h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 170%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
    .recipe-tile-titles:before {
        visibility: hidden;
    }
    /* Others Recipe-tile */
    .othersRecipe-tile {
        width: 200px;
        height: 150px;
    }
    /* Menu Container */
    .menu-container.open {
        visibility: visible;
        z-index: 10;
    }
    .navigations {
        justify-content: flex-start;
        width: 100%;
    }
    .menu-container.open .navigations.iphone {
        visibility: hidden;
        display: none;
    }
    .menu-container.open .navigations.tablet {
        margin-top: 30px;
        visibility: visible;
    }
    .navigations a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        padding: 4% 0;
    }
    .navigations a:hover, .navigations a.focus {
        transition: 0s;
    }
    /* Signup, Login */
    .signup, .login {
        width: 100vw;
        left: 0;
    }
    .profile-pic .profile-pic-div {
        width: 230px;
        border: 1px solid black;
        height: 230px;
    }
    .img-upload {
        border-radius: 4.5087px;
    }
    .img-upload-div i {
        font-size: 101.1px;
    }
    .img-upload-div p {
        font-size: 11.55px;
        z-index: -10;
    }
    .profile-reg {
        width: 280px;
    }
    .input-div {
        margin: 9.0234px 0;
        padding: 4.511px 0;
        border-bottom: 1.8px solid #d9d9d9;
    }
    .login .input-div {
        margin: 13.535px 0;
    }
    .input-div:after, .input-div:before{
        bottom: -1.8px;
        height: 1.4px;
    }
    .input-div.focus div h5 {
        top: -4.5px;
        font-size: 13.5px;
    }
    .input-div > div {
        height: 40.6px;
    }
    .input-div div h5 {
        font-size: 18.77px;
    }
    .input-div div input {
        padding: 8px 10px;
        font-size: 18.77px;
        height: 40px;
        width: 270px;
    }
    .username-success, .email-success, .password-success, .password2-success {
        top: 15.2px;
        left: 1.7875px;
    }
    .user-btn {
        border-radius: 22.34px;
        margin: 14.3px 0;
        font-size: 18.77px;
    }

    /* uploading-recipe.css */
    .uploading-recipe {
        padding-top: 10px;
        min-height: 340px;
    }
    /* Title */
    .upload-recipe-tile-titles h2 {
        font-size: 35px;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0 20px;
    }
    /* Title Line */
    .upload-recipe-tile-titles:before {
        width: 100%;
    }
    /* UPPER CONTENTS */
    /* Contents */
    .upload-recipe-tile-contents {
        height: 280px;
    }
    .upload-recipe-tile-contents > div {
        width: 600px;
    }
    /* Left */
    /* Uploading Pics */
    .upload-pic {
        border: 1.5px solid #FAE6B1;
    }
    .upload-pic-div i {
        font-size: 90px;
    }
    .upload-pic-div p {
        font-size: 13px;
    }
    /* Link */
    .pic-link > input {
        padding: 10px 11px;
        border-radius: 10px;
        font-size: 15px;
    }
    /* Right */
    .food-input {
        border: 0.8px solid #FFA101;
    }
    .food-input i {
        font-size: 23px;
    }
    .food-input input,.food-input select, .food-input input ::placeholder, .food-input input::placeholder{
        font-size: 15px;
    }
    .food-submit-btn {
        border-radius: 20px;
        font-size: 15px;
    }
    /* DOWN CONTENTS */
    .uploading-category-contents {
        width: 95%;
    }
    .category-tile {
        width: 200px;
    }
    /* Upper Part of Category Tile */
    .category-tile-title h4 {
        font-size: 12px;
    }
    /* Down Part of Category Tile */
    .category-number i, .category-number p {
        font-size: 12px;
    }
}
@media screen and (max-width: 642px) {
    /* Header */
    header {
        visibility: hidden;
        z-index: -10;
    }
    .header {
        visibility: visible;
        z-index: 10;
    }
    .header-left {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-left .menu-icon {
        background: none;
        outline: none;
        border: none;
        width: 10%;
    }
    .header-left .menu-icon i {
        margin-top: 0;
    }
    .header-left .header-icon {
        width: 15%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    #notifi-logo-btn {
        font-size: 3.3vw;
        color: #ffff;
        cursor: pointer;
    }
    .header .header-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 40%;
        outline: none;
        border: none;
        text-decoration: none;
    }
    .header .header-title h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60%;
        width: 100%;
        margin-top: 0;
    }
    .header .header-title img {
        margin-bottom: 0.8vw;
    }
    /* Menu Container */
    .logos.open {
        grid-template-columns: 2fr 0px 8fr;
    }
    .searchbox {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3% 0;
        align-items: center;
        height: 30px;
        width: 100%;
    }
    .searchbox div {
        position: relative;
        top: 0;
        height: 30px;
        width: 350px;
        max-width: 95vw;
    }
    .searchbox  i {
        position: absolute;
        font-size: 15px;
        left: 2%;
    }
    .searchbox  input {
        height: 100%;
        width: 350px;
        padding-left: 8%;
        font-size: 15px;
        max-width: 95vw;
    }
    .searchbox input ::placeholder {
        font-size: 15px;
    }
    .menu-container.open .navigations.iphone {
        visibility: visible;
        display: block;
    }
    .menu-container.open .navigations.tablet {
        display: none;
        visibility: hidden;
    }
    .navigations a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
    }
    /* SIGNUP */
    .signup, .login {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .profile-pic {
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        height: 100%;
        min-height: 260px;
        max-height: 280px;
        margin: 0;
    }
    .login-profile-pic {
        justify-content: center;
        align-items: flex-end;
        width: 100%;
    }
    .profile-reg {
        height: 100%;
        width: 350px;
        min-height: 350px;
        max-height: 400px;
    }
    .input-div div input {
        width: 330px;
    }

    /* Smallest size for resolution is 320px */
    /* uploading-recipe.css */
    .uploading-recipe {
        padding-top: 0;
        min-height: 550px;
    }
    /* Title */
    .upload-recipe-tile-titles {
        height: 50px;
    }
    .upload-recipe-tile-titles h2 {
        font-size: 30px;
        padding: 0 6px;
        width: 230px;
    }
    .upload-recipe-tile-titles:before {
        height: 2px;
    }
    /* UPPER CONTENTS */
    /* Contents */
    .upload-recipe-tile-contents {
        height: 500px;
    }
    .upload-recipe-tile-contents > div {
        width: 320px;
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
        gap: 0;
    }
    .upload-recipe-tile-contents > div > div.food-form {
        justify-content: flex-start;
    }
    .food-submit-btn {
        margin-top: 10px;
    }
    /* DOWN CONTENTS */
    /* Contents */
    .category-tile {
        width: 256px;
    }
    /* Upper Part of Category Tile */
    .category-tile-title h4 {
        font-size: 15px;
    }
    /* Down Part of Category Tile */
    .category-number i, .category-number p {
        font-size: 15px;
    }
}

@media screen and (min-height: 1000px) {
    header {
        height: 10%;
    }
    .container {
        top: 10%;
        height: 90%;
    }
}
@media screen and (min-height: 1200px) and (max-width: 1500px) {
    header {
        height: 10%;
    }
    .container {
        top: 10%;
        height: 90%;
    }
}
@media screen and (min-height: 1500px) and (max-width: 1400px) {
    header {
        height: 8%;
    }
    .container {
        top: 8%;
        height: 92%;
    }
}
@media screen and (min-height: 900px) and (max-width: 1200px) {
    header {
        height: 9%;
    }
    .container {
        top: 9%;
        height: 91%;
    }
}
@media screen and (min-height: 900px) and (max-width: 1167px) {
    header {
        height: 9%;
    }
    .container {
        top: 9%;
        height: 91%;
    }
}